.container {
	display: flex;
	padding: 80px 120px;
	align-items: center;
	gap: 48px;

	background: var(--Neutral-Neutral-10, #f6f6f6);
}

.contactCard {
	display: flex;
	width: 1200px;
	padding: 56px 56px 31px 56px;
	gap: 56px;

	border-radius: 32px;
	background: var(--blue-gradient, linear-gradient(102deg, #1b9ce1 12.08%, #0d15b8 126.06%));
	backdrop-filter: blur(20px);
}

.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 56px;
}

.text {
	display: flex;
	width: 438px;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}

.text h2 {
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 57.6px */
	letter-spacing: -1.92px;

	color: var(--Neutral-Neutral-05, #fff);
}

.text p {
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 24px */

	color: var(--Neutral-Neutral-05, #fff);
}

.actions {
	display: flex;
	align-items: center;
	gap: 12px;
}

.action {
	display: flex;
	width: 26px;
	height: 26px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	gap: 10px;

	border-radius: 80px;
	border: 1px solid var(--Neutral-Neutral-05, #fff);
}

.action img {
	height: 20px;
	width: 20px;
}

.formContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 56px;
	flex: 1 0 0;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-self: stretch;
}

.name {
	display: flex;
	padding: 10px 8px;
	height: 19px;
	align-items: center;
	gap: 10px;
	align-self: stretch;
	border: none;
	background: none;
	color: white;


	border-bottom: 1px solid var(--Neutral-Neutral-05, #fff);
}

.name::placeholder {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 19.2px */
	letter-spacing: -0.32px;
	color: var(--gray-super-light, rgba(255, 255, 255, 0.6));
}

.email {
	display: flex;
	padding: 10px 8px;
	height: 19px;
	align-items: center;
	gap: 10px;
	align-self: stretch;
	border: none;
	background: none;
	color: white;


	border-bottom: 1px solid var(--Neutral-Neutral-05, #fff);
}

.email::placeholder {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 19.2px */
	letter-spacing: -0.32px;

	color: var(--gray-super-light, rgba(255, 255, 255, 0.6));
}

.tellUs {
	display: flex;
	align-items: center;
	height: 59px;
	padding: 10px 8px;
	gap: 10px;
	color: white;


	border: none;
	background: none;
	resize: none;

	border-bottom: 1px solid var(--Neutral-Neutral-05, #fff);
}

.tellUs::placeholder {
	font-size: 16px;
	font-weight: 400;
	line-height: 120%; /* 19.2px */
	letter-spacing: -0.32px;

	position: absolute;
	bottom: 0;
	padding-bottom: 10px;
	line-height: normal;

	color: var(--gray-super-light, rgba(255, 255, 255, 0.6));
}

.errorText {
	color: rgb(221, 12, 12);
}

.contactButton {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;
}

.contactButton button {
	display: flex;
	height: 56px;
	padding: 15px 24px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	align-self: stretch;
	border: none;

	border-radius: 80px;
	background: var(--Neutral-Neutral-05, #fff);
}

.contactButton p {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 16.8px */

    color: rgba(255, 255, 255, 0.50);
}

/* Tablet View (Below 1200px) */
@media (max-width: 1200px) {
	.contactCard {
		width: 100%;
		padding: 40px;
		gap: 40px;
		flex-direction: column;
	}

	.text {
		width: 100%;
	}

	.formContainer {
		width: 100%;
	}
}

/* Mobile View (Below 968px) */
@media (max-width: 968px) {
	.container {
		padding: 40px 24px;
		gap: 32px;
	}

	.contactCard {
		padding: 32px;
		gap: 32px;
	}

	.text h2 {
		font-size: 36px;
		line-height: 120%; /* 43.2px */
		letter-spacing: -1.44px;
	}

	.text p {
		font-size: 18px;
		line-height: 120%; /* 21.6px */
	}

	.formContainer {
		gap: 40px;
	}

	.upload {
		padding: 24px 0px 24px 0px;
		border: 2px solid white;
	}

	.contactButton button {
		height: 48px;
		padding: 12px 20px;
	}
}

/* Small Mobile View (Below 500px) */
@media (max-width: 500px) {
	.container {
		padding: 0px;
	}

	.contactCard {
		padding: 32px 24px 56px 24px;
		border-radius: 24px 24px 0 0;
	}

	.content {
		gap: 24px;
	}

	.text {
		gap: 16px;
	}

	.text h2 {
		font-size: 24px;
		line-height: 120%; /* 33.6px */
		letter-spacing: -1.12px;
	}

	.text p {
		font-size: 16px;
		line-height: 120%; /* 19.2px */
	}

	.formContainer {
		gap: 32px;
	}

	.contactButton button {
		padding: 15px 24px;
		font-size: 18px;
		color: black;
	}
}