.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 74px;
	color: white;
}

.content {
	width: 100%;
	max-width: 590px;
}

.content h1 {
	font-size: 64px;
	margin-bottom: 24px;
	line-height: 64px;
	font-weight: 700;
}

.content p {
	font-size: 20px;
	margin-bottom: 56px;
	color: #818195;
}

.highlight {
	color: #1b9de2;
}

.contactButton button {
	border-radius: 80px;
	border: none;
	background: var(--blue-gradient, linear-gradient(102deg, #1b9ce1 12.08%, #0d15b8 126.06%));
	color: white;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	display: flex;
	width: 175px;
	padding: 17px 24px;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.image {
	display: flex;
	justify-content: center;
	height: 266px;
}

.image img {
	width: 100%;
	max-width: 663px;
	background-blend-mode: screen;
}

@media (max-width: 1200px) {
	.content h1 {
		font-size: 48px;
		line-height: 56px;
	}

	.image img {
		max-width: 550px; /* Scale down image */
	}
}

/* For screens 968px and below */
@media (max-width: 968px) {
	.hero {
		flex-direction: column; /* Stack image below content */
		align-items: center;
		text-align: center; /* Center text for narrow screens */
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 48px;
		max-width: 100%; /* Full width for content */
	}

	.content h1, .content p {
		margin: 0;
	}

	.contactButton {
		
		display: flex;
		justify-content: center;
	}

	.contactButton button {
		width: 100%;
		max-width: 330px;
		font-size: 18px; /* Adjust font size for mobile */
		padding: 17px 24px; /* Adjust padding for smaller screens *//* Limit max width */
	}

	.image img {
		max-width: 500px; /* Further scale down image */
	}
}

/* For screens 500px and below */
@media (max-width: 500px) {
	.content {
		display: flex;
		flex-direction: column;
		gap: 48px;
	}

	.content h1 {
		font-size: 40px; /* Smaller font size for mobile */
		line-height: 42px;
		margin-bottom: 0;
	}

	.content p {
		font-size: 18px; /* Adjust font size for mobile */
		margin-bottom: 0; /* Less margin for smaller screens */
	}


	.image img {
		max-width: 100%; /* Full width image for mobile */
	}
}
