.container {
	display: flex;
	padding: 80px 120px;
	flex-direction: column;
	align-items: center;
	gap: 48px;

	border-radius: 48px 48px 0 0;
	background: var(--Neutral-Neutral-20, #f5f5f5);
}

.titleContainer {
	display: flex;
	width: 592px;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.title {
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	line-height: 120%; /* 57.6px */
	letter-spacing: -1.92px;
}

.subtitle {
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	line-height: 120%;
	letter-spacing: -0.8px;

	color: var(--Neutral-Neutral-60, #363f45);
}

.cards {
	display: flex;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
}

.firstCard {
	display: flex;
	padding: 32px;
	flex-direction: column;
	justify-content: center;
	gap: 24px;

	border-radius: 32px;
	background: var(--blue-gradient, linear-gradient(102deg, #1b9ce1 12.08%, #0d15b8 126.06%));
	backdrop-filter: blur(20px);
	color: white;
}

.firstCard h1 {
	font-size: 80px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; /* 80px */
	letter-spacing: -3.2px;
}

.firstCardContent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
}

.firstCardContent h3 {
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 24px */
	letter-spacing: -0.8px;
}

.firstCardContent p {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 19.2px */
	letter-spacing: -0.32px;
}

.card {
	display: flex;
	align-items: center;
	gap: 8px;
	align-self: stretch;
	width: 568px;
}

.card div {
	display: flex;
	width: 126px;
	padding: 32px;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	align-self: stretch;

	border-radius: 32px;
	background: var(--Neutral-Neutral-05, #fff);
	backdrop-filter: blur(20px);
}

.card div h2 {
	display: flex;
	justify-content: center;
	font-size: 58px;
	font-weight: 700;
	line-height: 100%; /* 64px */
	letter-spacing: -2.56px;

	color: var(--Gray, #dadada);
}

.contactButton {
	display: flex;
	width: 175px;
	padding: 13px 24px;
	justify-content: center;
	align-items: center;
	border: none;
	gap: 10px;
	flex-shrink: 0;

	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%; /* 21.6px */
	letter-spacing: -0.72px;

	border-radius: 80px;
	color: white;
	background: var(--Neutral-Neutral-70, #0d0316);
}
