* {
	margin: 0;
	padding: 0;
}

.home {
	background: var(--background, url(/src/assets/background.png) lightgray 50% / cover no-repeat);
	height: 100%;
	max-width: 1440px;
  	padding: 25px 120px 120px 120px;
}

@media (max-width: 1200px) {
	.home {
		padding: 20px 100px 60px 100px;
	}
}

@media (max-width: 968px) {
	.home {
		padding: 20px 60px 40px 60px;
	}

	.noPadding {
		padding: 0; /* Убираем padding, если overlay открыт */
	}
}

@media (max-width: 500px) {
	.home {
		padding: 20px 24px 0px 24px;
	}

	.noPadding {
		padding: 0; /* Убираем padding, если overlay открыт */
	}
}
