.container {
	display: flex;
	padding: 80px 120px;
	flex-direction: column;
	align-items: center;
	gap: 48px;
}

.titleContainer {
	display: flex;
	max-width: 592px;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.title {
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	line-height: 120%; /* 57.6px */
	letter-spacing: -1.92px;
}

.subtitle {
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	line-height: 120%;
	letter-spacing: -0.8px;

	color: var(--Neutral-Neutral-60, #363f45);
}

.challenges {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-self: stretch;
	width: 100%;
}

.challengeItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
	flex-wrap: wrap;
}

.challengeItem:nth-child(even) {
	flex-direction: row-reverse;
}

.content {
	display: flex;
	padding: 24px;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
	flex: 1;
	border-radius: 32px;
	background: var(--Gray-light, #f6f6f6);
}

.text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.text h3 {
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 24px */
	letter-spacing: -0.8px;
}

.text p {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 19.2px */
	letter-spacing: -0.8px;
}

.iconContainer {
	display: flex;
	padding: 10px;
	width: 36px;
	height: 36px;
	justify-content: center;
	align-items: center;

	border-radius: 15px;
	background: var(--Neutral-Neutral-30, #ededed);
}

.iconContainer img {
	display: flex;
	width: 24px;
	height: 24px;
	justify-content: center;
	align-items: center;
}

.imgContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	max-width: 434px;
	max-height: 230px;
	/* Ensure the imgContainer has a defined size */
	overflow: hidden; /* Hide overflow to keep image within container boundaries */
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Ensure the image covers the entire container */
	border-radius: inherit; /* Apply the same border-radius as the container */
}

@media (max-width: 1200px) {
	.container {
		gap: 40px;
		padding: 60px 100px;
	}

	.title {
		font-size: 44px; /* Smaller title on medium screens */
		text-align: center;
	}

	.subtitle {
		font-size: 19px; /* Smaller paragraph on medium screens */
	}
}

@media (max-width: 968px) {
	.container {
		padding: 60px 100px;
		gap: 32px;
	}

	.content {
		gap: 24px;
	}

	.title {
		font-size: 40px; /* Smaller title on medium screens */
	}

	.subtitle {
		font-size: 18px; /* Smaller paragraph on medium screens */
	}

	.imgContainer {
		display: none;
	}
}

@media (max-width: 500px) {
	.container {
		padding: 40px 20px;
		gap: 24px;
	}

	.content {
		gap: 24px;
	}

	.challenges {
		gap: 8px;
	}

	.title {
		font-size: 32px; /* Smaller title on small screens */
	}

	.subtitle {
		font-size: 17px; /* Smaller paragraph on small screens */
	}

	.imgContainer {
		display: none;
	}
}
