.container {
	display: flex;
	padding: 80px 120px;
	flex-direction: column;
	align-items: center;
	gap: 48px;
}

.titleContainer {
	display: flex;
	max-width: 592px;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.title {
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	line-height: 120%; /* 57.6px */
	letter-spacing: -1.92px;
}

.subtitle {
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	line-height: 120%;
	letter-spacing: -0.8px;

	color: var(--Neutral-Neutral-60, #363f45);
}

.tabsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
	align-self: stretch;
}

.tabs {
	display: flex;
	height: 48px;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.tab {
	display: flex;
	width: 135px;
	height: 48px;
	padding: 1px 25px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	text-wrap: nowrap;
	font-size: 16px;
	font-weight: 500;
	color: black;
	cursor: pointer;

	border-radius: 80px;
	border: 1px solid var(--Neutral-Neutral-40, #9a9fa6);
	background: var(--Neutral-Neutral-05, #fff);
}

.tab:hover {
	background: rgb(243, 243, 243);
}

.activeTab {
	background: var(
		--blue-gradient,
		linear-gradient(102deg, #1b9ce1 12.08%, #0d15b8 126.06%)
	);
	color: white;
	border: none;
}

.activeTab:hover {
	background: var(
		--blue-gradient,
		linear-gradient(102deg, #1b9ce1 12.08%, #0d15b8 126.06%)
	);
}

.containerGrid {
	display: none;
	grid-template-columns: repeat(6, 1fr); /* Define 6 equal columns */
	grid-template-rows: repeat(8, 1fr); /* Define 4 equal rows */
	gap: 16px; /* Space between grid items */
	width: 1200px;
}

.activeContainerGrid {
	display: grid;
	justify-content: center;
}

.item {
	background: var(--Gray-light, #f6f6f6);
	border-radius: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
	flex-direction: column;
	font-weight: 700;
	font-size: 20px;
	transition: background 0.3s ease; /* Smooth transition */
}

.item:hover {
	background: var(--Cyan-Cyan-10, #dbecf6);
}

/* BLOCKCHAIN */

.avalanche {
	bottom: 20px;
	grid-column: 2 / 3; /* Spans from column 2 to 3 */
	grid-row: 6 / 8; /* Occupies the first row */
	width: 244.5px;
	height: 133.5px;
	gap: 12px;
}

.ton {
	grid-column: 3 / 5; /* Spans from column 4 to 5 */
	grid-row: 1 / 3; /* Occupies the first row */
	width: 402px;
	height: 134px;
	gap: 18px;
}

.solana {
	left: 94px;
	grid-column: 1 / 3; /* Spans from column 1 to 2 */
	grid-row: 3 / 6; /* Occupies rows 2 and 3 */
	width: 318px;
	height: 187.5px;
	gap: 18px;
}

.ethereum {
	grid-column: 3 / 5; /* Spans from column 3 to 4 */
	grid-row: 3 / 7; /* Occupies the second row */
	width: 402px;
	height: 250.5px;
	gap: 24px;
	font-size: 24px;
}

.near {
	grid-column: 5 / 7; /* Spans from column 5 to 6 */
	grid-row: 4 / 7; /* Occupies rows 2 and 3 */
	width: 318px;
	height: 187.5px;
	gap: 18px;
}

.binance {
	bottom: 30px;
	grid-column: 3 / 5; /* Spans from column 5 to 6 */
	grid-row: 7 / 9; /* Occupies rows 2 and 3 */
	width: 402px;
	height: 134px;
	gap: 12px;
}

.polygon {
	grid-column: 5 / 6; /* Spans from column 5 to 6 */
	grid-row: 2 / 4; /* Occupies rows 2 and 3 */
	width: 244.5px;
	height: 133.5px;
	gap: 12px;
}

/* BACKEND */

.avalancheFake {
	bottom: 20px;
	grid-column: 2 / 3; /* Spans from column 2 to 3 */
	grid-row: 5 / 7; /* Occupies the first row */
	width: 244.5px;
	height: 133.5px;
	gap: 12px;
}

.nest {
	grid-column: 3 / 5; /* Spans from column 4 to 5 */
	grid-row: 1 / 3; /* Occupies the first row */
	width: 402px;
	height: 134px;
	gap: 18px;
}

.node {
	left: 94px;
	grid-column: 1 / 3; /* Spans from column 1 to 2 */
	grid-row: 4 / 8; /* Occupies rows 2 and 3 */
	width: 318px;
	height: 253px;
	gap: 18px;
	z-index: 2;
}

.microservices {
	grid-column: 3 / 5; /* Spans from column 3 to 4 */
	grid-row: 3 / 7; /* Occupies the second row */
	width: 402px;
	height: 250.5px;
	gap: 24px;
	font-size: 24px;
}

.python {
	grid-column: 5 / 7; /* Spans from column 5 to 6 */
	grid-row: 5 / 8; /* Occupies rows 2 and 3 */
	width: 318px;
	height: 187.5px;
	gap: 18px;
}

.go {
	bottom: 30px;
	grid-column: 3 / 5; /* Spans from column 5 to 6 */
	grid-row: 7 / 9; /* Occupies rows 2 and 3 */
	width: 402px;
	height: 134px;
	gap: 12px;
}

.express {
	grid-column: 5 / 6; /* Spans from column 5 to 6 */
	grid-row: 3 / 5; /* Occupies rows 2 and 3 */
	width: 244.5px;
	height: 133.5px;
	gap: 12px;
}

/* FRONTEND */

.tailwind {
	bottom: 20px;
	grid-column: 2 / 3; /* Spans from column 2 to 3 */
	grid-row: 6 / 8; /* Occupies the first row */
	width: 244.5px;
	height: 133.5px;
	gap: 12px;
}

.react {
	grid-column: 3 / 5; /* Spans from column 4 to 5 */
	grid-row: 1 / 3; /* Occupies the first row */
	width: 402px;
	height: 134px;
	gap: 18px;
}

.reactNative {
	left: 94px;
	grid-column: 1 / 3; /* Spans from column 1 to 2 */
	grid-row: 3 / 6; /* Occupies rows 2 and 3 */
	width: 318px;
	height: 187.5px;
	gap: 18px;
}

.javaScript {
	grid-column: 3 / 5; /* Spans from column 3 to 4 */
	grid-row: 3 / 7; /* Occupies the second row */
	width: 402px;
	height: 250.5px;
	gap: 24px;
	font-size: 24px;
}

.scss {
	grid-column: 5 / 7; /* Spans from column 5 to 6 */
	grid-row: 4 / 7; /* Occupies rows 2 and 3 */
	width: 318px;
	height: 187.5px;
	gap: 18px;
}

.sass {
	bottom: 30px;
	grid-column: 3 / 5; /* Spans from column 5 to 6 */
	grid-row: 7 / 9; /* Occupies rows 2 and 3 */
	width: 402px;
	height: 134px;
	gap: 12px;
}

.next {
	grid-column: 5 / 6; /* Spans from column 5 to 6 */
	grid-row: 2 / 4; /* Occupies rows 2 and 3 */
	width: 244.5px;
	height: 133.5px;
	gap: 12px;
}

/* DATABASES */

.mongoDB {
	bottom: 20px;
	grid-column: 2 / 3; /* Spans from column 2 to 3 */
	grid-row: 6 / 9; /* Occupies the first row */
	width: 318px;
	height: 187.5px;
	gap: 12px;
}

.mySQL {
	grid-column: 3 / 5; /* Spans from column 3 to 4 */
	grid-row: 3 / 7; /* Occupies the second row */
	width: 402px;
	height: 250.5px;
	gap: 24px;
	font-size: 24px;
}

.postgreSQL {
	grid-column: 5 / 6; /* Spans from column 5 to 6 */
	grid-row: 1 / 4; /* Occupies rows 2 and 3 */
	width: 318px;
	height: 187.5px;
	gap: 12px;
}

/* CLOUD */

.azure {
	bottom: 20px;
	grid-column: 2 / 3; /* Spans from column 2 to 3 */
	grid-row: 6 / 9; /* Occupies the first row */
	width: 318px;
	height: 187.5px;
	gap: 12px;
}

.aws {
	grid-column: 3 / 5; /* Spans from column 3 to 4 */
	grid-row: 3 / 7; /* Occupies the second row */
	width: 402px;
	height: 250.5px;
	gap: 24px;
	font-size: 24px;
}

.cloud {
	grid-column: 5 / 6; /* Spans from column 5 to 6 */
	grid-row: 1 / 4; /* Occupies rows 2 and 3 */
	width: 318px;
	height: 187.5px;
	gap: 12px;
}

/* DEBOPS */

.docker {
	grid-column: 2 / 4; /* Spans from column 3 to 4 */
	grid-row: 4 / 8; /* Occupies the second row */
	width: 402px;
	height: 250.5px;
	gap: 24px;
	font-size: 24px;
}

.kubernetes {
	grid-column: 4 / 6; /* Spans from column 5 to 6 */
	grid-row: 2 / 5; /* Occupies rows 2 and 3 */
	width: 318px;
	height: 187.5px;
	gap: 12px;
}

@media (max-width: 1200px) {
	.container {
		gap: 40px;
	}

	.title {
		font-size: 44px; /* Smaller title on medium screens */
		text-align: center;
	}

	.subtitle {
		font-size: 19px; /* Smaller paragraph on medium screens */
	}

	.content {
		transform: scale(0.75); /* Уменьшение до 75% от исходного размера */
		transform-origin: top center; /* Устанавливает точку масштабирования */
		height: 416px;
	}
}

@media (max-width: 968px) {
	.container {
		padding: 60px 50px;
		gap: 32px;
	}

	.tabs {
		display: flex;
		height: 48px;
		justify-content: flex-start;
		align-items: center;
		gap: 8px;
		overflow: hidden;
		overflow-x: auto; /* Включаем горизонтальную прокрутку */
		margin-right: -50px; /* Смещаем tabs вправо, чтобы правая часть выходила за пределы container */
		padding-right: 50px; /* Добавляем отступ, чтобы содержимое tabs не обрезалось */
		width: calc(
			100%
		); /* Увеличиваем ширину tabs, чтобы правая часть вышла за пределы контейнера */
	}

	.tabs::-webkit-scrollbar {
		display: none;
	}

	.tab {
		padding: 0;
		font-weight: 400;
		font-size: 16px;
		text-wrap: nowrap;
	}

	.title {
		font-size: 40px; /* Smaller title on medium screens */
	}

	.subtitle {
		font-size: 18px; /* Smaller paragraph on medium screens */
	}

	.content {
		transform: scale(0.38); /* Уменьшение до 75% от исходного размера */
		transform-origin: top center; /* Устанавливает точку масштабирования */
		height: 222px;
	}
}

@media (max-width: 500px) {
	.container {
		padding: 40px 20px;
		gap: 24px;
	}

	.tabs {
		margin-right: -20px; /* Смещаем tabs вправо, чтобы правая часть выходила за пределы container */
		padding-right: 20px; /* Добавляем отступ, чтобы содержимое tabs не обрезалось */
	}

	.tabs button {
		height: 40px;
	}

	.tab {
		text-wrap: nowrap;
	}

	.title {
		font-size: 32px; /* Smaller title on small screens */
	}

	.subtitle {
		font-size: 16px; /* Smaller paragraph on small screens */
	}

	.content {
		transform: scale(0.29); /* Уменьшение до 75% от исходного размера */
		transform-origin: top center; /* Устанавливает точку масштабирования */
		height: 177px;
	}
}
