header {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1178px; /* Ограничиваем максимальную ширину */
	width: 100%;
}

.headerContainer {
	display: flex;
	align-items: center;
	height: auto;
	position: relative;
	justify-content: space-between;
	width: 100%;
}

.logo {
	display: flex;
	align-items: center;
	background-color: white;
	padding: 8px 22px;
	border-radius: 80px;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.logo img {
	width: 40px;
}

.logo span {
	font-size: 22px;
	font-weight: 500;
	line-height: 27px;
	font-style: normal;
	line-height: normal;
}

nav {
	display: flex;
	align-items: center;
	height: 54px;
	background-color: white;
	border-radius: 80px;
	padding: 0px 5px;
	gap: 10px;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	gap: 8px;
	width: 100%;
}

nav ul li {
	padding: 12px 16px;
	border-radius: 8px;
	gap: 8px;
	font-size: 16px;
	line-height: 19px;
	font-weight: 500;
}

nav ul li a {
	color: black;
	text-decoration: none;
}

.anchor {
	text-decoration: none;
}

.contactButton {
	background-color: white;
	border-radius: 80px;
	padding: 4px;
	gap: 10px;
}

.contactButton button {
	border-radius: 80px;
	border: none;
	background: var(--blue-gradient, linear-gradient(102deg, #1b9ce1 12.08%, #0d15b8 126.06%));
	color: white;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;

	width: 181px;

	display: flex;
	padding: 13px 24px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	align-self: stretch;
}

.burgerMenu,
.overlayMenu,
.contactButtonMenu,
.burgerMenuOpen,
.overlay {
	display: none;
}

@media (max-width: 1410px) {
	.headerContainer {
		background: white;
		border-radius: 80px;
		filter: drop-shadow(0px 0px 8px #1b9de2) drop-shadow(0px 0px 4px #1b9de2);
	}

	.logo {
		padding: 8px 4px 8px 24px;
	}

	.logo img {
		width: 30px;
	}

	.logo span {
		font-size: 20px;
	}

	nav ul li {
		padding: 10px 11px;
		font-size: 14px;
	}

	.nav {
		padding: 0;
		width: 100%;
	}

	.contactButton button {
		font-size: 16px;
		width: 170px;
	}
}

@media (max-width: 1200px) {
	.headerContainer {
		gap: 0px;
	}

	.logo {
		padding: 8px 16px;
	}

	.logo img {
		width: 25px;
	}

	.logo span {
		font-size: 18px;
	}

	nav ul {
		gap: 0px;
		justify-content: space-around;
	}

	nav ul li {
		padding: 10px 8px;
		font-size: 12px;
	}

	.nav {
		padding: 0;
	}

	.contactButton button {
		width: 130px;
		padding: 13px 18px;
		font-size: 14px;
	}
}

@media (max-width: 968px) {
	.nav,
	.contactButton {
		display: none;
	}

	.headerContainer {
		background: none;
		filter: none;
	}

	.logo {
		background: none;
		padding: 0;
	}

	.logo span {
		color: white;
	}

	.logo span {
		font-size: 30px;
	}

	.logo img {
		width: 45px;
		height: 45px;
	}

	.burgerMenu {
		display: block;
		position: relative;
		background: none;
		border: 1px solid white;
		border-radius: 120px;
		padding: 14px;
		z-index: 9999;
	}

	.burgerMenu button {
		display: flex;
		align-items: center;
		justify-content: center;
		background: none;
		border: none;
		color: white;
		font-size: 24px;
		z-index: 9999;
	}

	.burgerMenuOpen {
		display: block;
		position: relative;
		background: black;
		border-radius: 120px;
		padding: 14px;
		z-index: 9999;
	}

	.burgerMenuOpen button {
		display: flex;
		align-items: center;
		justify-content: center;
		background: black;
		border: none;
		color: white;
		font-size: 24px;
		z-index: 9999;
	}

	.overlay {
		position: fixed; /* Changes from fixed to absolute */
		padding: 80px 60px 68px 60px;
		top: 0;
		left: 0;
		width: calc(100% - 120px);
		background: linear-gradient(180deg, #F6F6F6 80%, rgba(246, 246, 246, 0.00) 100%);
		display: flex;
		flex-direction: column;
		gap: 140px;
		z-index: 1000;
	}

	.overlayMenu {
		position: relative;
		display: flex;
		flex-direction: column;
		list-style: none;
		gap: 8px;
	}

	.overlayMenu li {
		padding: 4px 0;
		font-size: 24px;
	}

	.contactButtonMenu {
		display: block;
	}

	.contactButtonMenu {
		display: flex;
		justify-content: center;
	}

	.contactButtonMenu button {
		width: 300px;
		font-size: 18px;
		color: white;
		border: none;
		padding: 13px 24px;
		align-self: stretch;
		border-radius: 80px;
		background: var(--blue-gradient, linear-gradient(102deg, #1b9ce1 12.08%, #0d15b8 126.06%));
	}
}

@media (max-width: 500px) {
	.overlay {
		padding: 80px 24px 48px 24px;
		width: calc(100% - 48px);
	}

	.overlay li {
		font-size: 16px;
	}

	.overlayMenu {
		width: 100%;
	}

	.logo img {
		width: 37px;
		height: 37px;
	}

	.logo span {
		font-size: 22px;
	}

	.burgerMenu {
		padding: 12px;
	}

	.burgerMenu button {
		font-size: 22px;
	}

	.burgerMenuOpen {
		padding: 12px;
	}

	.contactButtonMenu button {
		width: 100%;
	}
}
